.reply-item{id: "message_#{reply.id}"}
  %section.thread-parent.message-reply-item
    .message-header
      %strong= reply.respond_to?(:username) ? reply.username : "Usuário"
      %time{ datetime: (reply.created_at&.iso8601 || "") }
        = reply.created_at&.strftime("%d/%m/%Y %H:%M") || "-"
    %p.message-content= reply.content